<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>
  <section class="vh-90 gradient-custom">
    <div class="container py-5 h-90">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Редактирование профиля</h2>
                <div class="form-outline form-white mb-2">
                    <% if resource.avatar.attached? %>
                      <%= image_tag url_for(resource.avatar), class: 'avatar',style: 'width: 60px; height: 60px;', alt: 'avatar' %>
                    <% end %>
                  <div class="custom-file">
                    <input type="file" hidden class="" id="customFile">
                      <%= f.file_field :avatar, class: 'form-control', style: 'display: none', class: 'custom-file-input' %>
                      <%= f.label :avatar, 'Изменить фото', class: 'form-label custom-file-label' %>
                    </div>
                </div>
                <div class="form-outline form-white mb-4">
                  <%= f.label :email, "Почта" %><br />
                  <%= f.email_field :email, autocomplete: "email", class: 'form-control form-control-lg' %>
                  <%= render "devise/shared/error_messages", resource: resource, type: 'email' %>
                </div>
                <div class="form-outline form-white mb-4">
                  <%= f.label :nickname, "Никнейм" %><br />
                  <%= f.text_field :nickname, class: 'form-control form-control-lg' %>
                </div>
                <div class="form-outline form-white mb-4">
                  <%= f.label :birthday, "Дата рождения" %><br />
                  <%= f.date_field :birthday, class: 'form-control form-control-lg' %>
                </div>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
                <div class="form-outline form-white mb-4">
                  <%= f.label :password, "Пароль" %> <i>(Оставить пустым, чтобы не изменять)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-lg' %>
                  <%= render "devise/shared/error_messages", resource: resource, type: 'password' %>
                  <% if @minimum_password_length %>
                    <em><%= @minimum_password_length %> символов минимум</em>
                  <% end %>
                </div>
                <div class="form-outline form-white mb-4">
                  <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-lg' %>
                  <%= render "devise/shared/error_messages", resource: resource, type: 'conf-passwd' %>
                </div>

                <div class="form-outline form-white mb-4">
                  <%= f.label :current_password, "Текущий пароль" %> <i>(Необходим для подтверждения изменений)</i><br />
                  <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control form-control-lg' %>
                </div>

                <div class="actions">
                  <%= f.submit "Обновить", class: 'btn btn-outline-light btn-lg px-5 mb-4' %>
                </div>
              <% end %>
              <div>
                <p class="mb-0">
                  <%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-outline-light btn-lg px-5' %></div>
                </p>
              </div>
              <div>
                <p class="mb-0">
                  <%= link_to "Назад", :back, class: 'text-white-50 fw-bold' %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
