<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section class="vh-90 gradient-custom">
    <div class="container py-5 h-90">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h6 class="mb-2 text-uppercase">Забыли пароль?</h6>
                <div class="form-outline form-white mb-4">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg' %>
                  <%= f.label :email, "Почта", class: 'form-label' %>
                </div>
                <div class="actions">
                  <%= f.submit "Отправить", class: 'btn btn-outline-light btn-lg px-5' %>
                </div>
              </div>
              <div>
                <p class="mb-0">
                <%- if controller_name != 'sessions' %>
                  <%= link_to "Войти", new_session_path(resource_name), class: 'text-white-50 fw-bold' %><br />
                <% end %>
                </p>
                <p class="mb-0">
                  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <%= link_to "Зарегистрироваться", new_registration_path(resource_name), class: 'text-white-50 fw-bold' %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>