<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="row">
        <div class="col-12 text-center">
          <h2><%= t('index.rooms') %></h2>
          <div class='col-12 text-center pt-4'>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <%= t('rooms.create_room') %>
            </button>
          </div>
          <%= form_tag root_path, method: :get, class: 'row d-flex justify-content-start align-items-start pb-4' do %>
            <div class='col-auto'>
              <%= label_tag 'search[name]','Название' %>
              <%= text_field_tag 'search[name]', params[:search] ? params[:search][:name] : '', class: 'form-control' %>
            </div>
            <div class='col-auto'>
              <%= label_tag 'search[status]','Статус' %>
              <%= select_tag 'search[status]', options_for_select(Room.statuses.keys, params[:search] ? params[:search][:status] : ''), include_blank: true, class: 'form-control' %>
            </div>
            <div class='col-auto pt-4'>
              <%= button_tag type: "submit", class: 'btn btn-outline-primary' do %>
                <i class="bi bi-search"></i>
              <% end %>
            </div>
          <% end %>
          <table class='table'>
            <thead>
              <th>#</th>
              <th>Название</th>
              <th>Статус</th>
              <th>Люди</th>
            </thead>
            <tbody>
              <% @rooms.each do |room| %>
                <% room_token = room.token.to_s %>
                <tr>
                  <td><%= room.id %></td>
                  <td class='check-td'>
                    <%= link_to room.name, nil, class: "check-password check-ban", data: { 
                      bs_target: '#checkPasswordModal', bs_toggle: 'modal', 
                      status: room.status, token: room.token,
                      include: room.user_include?(current_user), banned: check_ban(room.id, current_user.id)
                    } %>
                  </td>
                  <td>
                    <% case room.status %>
                    <% when 'priv' %>
                      Закрытая <i class='bi bi-lock'></i>
                    <% when 'pub' %>
                      Публичная <i class='bi bi-unlock'></i>
                    <% end %>
                  </td>
                  <td><%= room.users.where(online: true).count %>/<%= room.users.count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= render 'modals/create_room', rooms: @room %>
      <%= render 'modals/check_room' %>
      <%= render 'modals/ban_room' %>
    </div>
  </div>
</div>