<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-6 text-center">
    <h2><%= t('index.rooms') %></h2>

    <ul class="mt-4 list-unstyled">
    
      <% @rooms.each do |room| %>
      <li>
        <b>
          <%= t('rooms.room', room_id: room.id) %>
        </b> 
        — 
        <%= link_to t('rooms.join'), room %>
        <% if room.user_id = current_user.id %>
          <%= button_to 'Delete', room_path(room.token), method: :delete, data: {confirm: 'Are you certain you want to delete this?'} %></li>
        <% end %>
      <% end %>
    </ul>

    <div class="mt-2">
      <%= form_for @room do |form| %>
        <div class="actions">
          <%= form.submit t('rooms.create_room'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-6 text-center">
    <h2><%= t('index.online_now') %></h2>

    <ul class="users-list mt-4 list-unstyled text-success" id="users">
      <%= content_tag(:li, current_user.email, { id: "user_online_#{current_user.id}" }) %>
    </ul>
  </div>
</div>
