<section style="background-color: #eee; height: 100%">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class='card mt-2' style='height: 90vh'>
        <% banned = check_ban(@room.id, current_user.id) %>
          <div class="card-header d-flex p-3"style="border-top: 4px solid black">
            <div class="d-flex flex-row align-items-center justify-content-center align-items-center col-12">
              <%= link_to(root_path, class: 'back-link') do %>
                <i class="bi bi-caret-left-fill"></i>
              <% end %>
                <div class='col-10 text-center'>
                  <div class='justify-content-start align-items-start align-content-start'>
                    <%# <div class="btn-group"> %>
                      <button class="btn">
                        <%= @room.name %>
                      </button>
                  </div>
                </div>
                <div class='col-2 justify-content-end text-end'>
                  <div class='justify-content-end text-end'>
                    <%= link_to(room_path(@room.token), class: 'back-link', data: {bs_toggle: 'modal', bs_target: '#usersModal'}, id: 'settings-button11') do %>
                      <i class="bi bi-people-fill mx-4"></i>
                    <% end %>
                  </div>
                  <% if current_user.id == @room.user_id %>
                    <div class='justify-content-end text-end'>
                      <%= link_to(room_path(@room.token), class: 'back-link', data: {bs_toggle: 'modal', bs_target: '#settingsModal'}, id: 'settings-button') do %>
                        <i class="bi bi-gear-fill mx-4"></i>
                      <% end %>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
          <div class='card-body messages' id="messages" data-room-id='<%= @room.id %>' data-mdb-perfect-scrollbar="true" style="position: relative; bottom: 0">
            <% @room.messages.each do |message| %>
              <div class="d-flex justify-content-between">
                <div>
                  <%= link_to message.user.nickname, user_path(message.user.id), class: 'd-inline-block' %>
                  <%# if current_user.id == message.room.user_id %>
                  <%# <div class="btn-group"> %>
                    <%# <button class="btn dropdown-toggle d-inline-block" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> %>
                    <%# </button> %>
                    <%# <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"> %>
                      <%# if check_ban(message.room.id,message.user.id) %>
                        <%#= link_to 'разблокировать', '', class: 'dropdown-item text-danger', id: 'user_ban', token: message.room.token, target: false, user_id: message.user.id  %>
                      <%# else %>
                        <%#= link_to 'заблокировать', '', class: 'dropdown-item text-danger', id: 'user_ban', token: message.room.token, target: true, user_id: message.user.id  %>
                      <%# end %>
                    <%# </ul> %>
                  <%# </div> %>
                  <%# end %>
                </div>
                <p class="small mb-1 text-muted"><%= message.created_at.strftime("%H:%M") %></p>
              </div>
              <div class="d-flex flex-row justify-content-start">
                <% if message.user.avatar.present? %>
                  <%= image_tag url_for(message.user.avatar), class: 'message-image', alt: 'avatar' %>
                <% end %>
                <div>
                  <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;"><%= message.body %></p>
                </div>
              </div>
            <% end %>
          </div>
          <div class='card-footer'>
            <%= render 'messages/form', banned: banned %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- room setings -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLabel">Редактирование комнаты</h5>
        <%= button_to 'Удалить', room_path(@room.token), method: :delete, class: 'btn btn-danger', data: { confirm: "Вы действительно хотите удалить комнату?", turbo_confirm: "Are you sure?" } %>
      </div>
        <div class="modal-body">
          <% if current_user.id == @room.user_id %>
            <%= form_tag(room_path(@room.token), method: :patch, class: 'row') do %>
              <div class="form-group row pb-1">
                <div class='input-group col-12'>
                  <%= label_tag 'name', 'Имя', class: 'col-sm-2 col-form-label' %>
                  <div class="col-sm-10">
                    <%= text_field_tag 'name', '', class: 'form-control'  %>
                  </div>
                </div>
              </div>
              <div class="form-group row pb-1">
                <div class='input-group col-12'>
                  <%= label_tag 'password', 'Пароль', class: 'col-sm-2 col-form-label' %>
                  <div class="col-sm-10">
                    <%= text_field_tag 'password', '', class: 'form-control'  %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <%= submit_tag 'Редактировать', class: 'btn btn-primary' %>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<!-- room peoples -->
<div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="usersModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="usersModalLabel">Пользователи комнаты</h5>
        <%= button_to 'Выйти',leave_room_path(@room.token), params: {user_id: current_user.id},method: :post, class: 'btn btn-danger', data: { confirm: "Вы действительно хотите покинуть комнату?", turbo_confirm: "Are you sure?" } %>
      </div>
        <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Имя</th>
              <th scope="col">Статус</th>
            </tr>
          </thead>
          <tbody>
            <% @room.users.each do |u| %>
              <tr>
                <td>
                  <%= link_to u.nickname, user_path(u.id) %>
                </td>
                <td>
                  <% if u.online %>
                    Онлайн
                  <% else %>
                    Оффлайн
                  <% end %>
                </td>
                <% if @room.user_id == current_user.id && current_user.nickname != u.nickname %>
                  <td class='text-center'>
                    <% if check_ban(@room.id, u.id) %>
                      <%= link_to 'Разблокировать', '#', class: 'dropdown-item text-danger', id: 'user_ban', data: {token: @room.token, target: false, user_id: u.id}  %>
                    <% else %>
                      <%= link_to 'Заблокировать', '#', class: 'dropdown-item text-danger', id: 'user_ban', data: { token: @room.token, target: true, user_id: u.id }  %>
                    <% end %>
                  </td>
                <% elsif @room.user_id != current_user.id && current_user.nickname == u.nickname %>
                  <td class='text-center'>
                    <% if check_ban(@room.id, u.id) %>
                      <i class='bi bi-lock text-danger'></i>
                    <% else %>
                      <i class='bi bi-unlock text-danger  '></i>
                    <% end %>
                  </td>
                <% else @room.user_id == current_user.id %>
                 <td class='text-center'>
                    Владелец
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        </div>
    </div>
  </div>
</div>