<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Kursach</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true  %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
  </head>
  <style>
    .hide-font {
      color: rgba(33, 37, 41, 1)
    }
  </style>

  <body data-user='<%= current_user.id %>'>
  
  <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container-fluid'>
      <font class='hide-font'>aba</font>
      <% if !devise_controller? || current_page?('/users/edit')  %>
      <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
          <li class='nav-item'>
            <a class='nav-link active root-path' aria-current='page' href='/' remote='true'>Главная</a>
          </li>
          <% if current_user.present? %>
            <li class='nav-item'>
              <a class='nav-link active' aria-current='page' href="<%= user_path current_user.id %>">Профиль</a>
            </li>
            <li class='nav-item'>
              <%= link_to 'Выйти', destroy_user_session_path, class: 'nav-link active', method: :delete %>
            </li>
          <% else %>
            <li class='nav-item'>
              <%= link_to 'Войти', new_user_session_path, class: 'nav-link active'%>
              <%# <a class='nav-link active' aria-current='page' href="">Войти</a> %>
            </li>
          <% end %>
        </ul>
      <% end %>
      </div>
    </div>
  </nav>
  <%# <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12"> %>
        <%= yield %>
      <%# </div>
    </div>
  </div> %>
  </body>
</html>
